In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\salom\OneDrive\Documentos\11-2025 Instacart Basket Analysis'

In [3]:
# Import last pkl dataframe

ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_derived.pkl'))

In [4]:
df = ords_prods_merged[:1000000]

In [5]:
df.shape

(1000000, 17)

In [6]:
df.groupby('product_name')

In [7]:
# Aggregating Data with agg()

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [8]:
# Conduct aggregations without use of the agg() function

df.groupby('department_id')['order_number'].mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

In [9]:
df.groupby('department_id').order_number.mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

In [10]:
# Performing Multiple Aggregations

df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                14.800024   1  99
2                17.091743   1  98
3                17.913544   1  99
4                17.893092   1  99
5                15.214270   1  99
6                15.382135   1  99
7                17.694027   1  99
8                16.458105   1  91
9                15.957363   1  99
10               20.091818   1  99
11               16.482026   1  99
12               15.615061   1  99
13               16.484023   1  99
14               17.524632   1  99
15               15.691875   1  99
16               18.014071   1  99
17               16.150593   1  99
18               19.602850   1  99
19               17.631340   1  99
20               17.138607   1  99
21               21.956893   1  97

In [11]:
# Create new “max_order” column

ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\salom\AppData\Local\Temp\ipykernel_2784\3654079682.py:3: FutureWarning: The provided callable <function max at 0x00000205E754AB60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [12]:
ords_prods_merged.head(500)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1682003,7,6,1,18,10.0,21137,2,1,Organic Strawberries,24,4,7.3,Mid-range product,Regularly busy,Busiest days,Average orders,20
496,1682003,7,6,1,18,10.0,42803,3,1,Organic Apple Slices,50,19,4.9,Low-range product,Regularly busy,Busiest days,Average orders,20
497,1014379,7,7,1,15,7.0,8518,1,1,Organic Red Onion,83,4,6.3,Mid-range product,Regularly busy,Busiest days,Most orders,20
498,776265,7,8,2,12,8.0,10895,1,1,Mexican Finely Shredded Cheese,21,16,6.6,Mid-range product,Regularly busy,Regularly busy,Most orders,20
499,776265,7,8,2,12,8.0,39275,2,1,Organic Blueberries,123,4,8.3,Mid-range product,Regularly busy,Regularly busy,Most orders,20

In [13]:
# Deriving Columns with loc()

ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [14]:
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [15]:
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [16]:
# Print the frequency of new “loyalty_flag” column

ords_prods_merged.value_counts('loyalty_flag')

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [17]:
# Check only relevant columns

ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].tail(500)

          user_id      loyalty_flag  order_number
32404359   206208    Loyal customer            24
32404360   206208    Loyal customer            24
32404361   206208    Loyal customer            24
32404362   206208    Loyal customer            24
32404363   206208    Loyal customer            24
...           ...               ...           ...
32404854   206209  Regular customer            13
32404855   206209  Regular customer            13
32404856   206209  Regular customer            13
32404857   206209  Regular customer            13
32404858   206209  Regular customer            13

[500 rows x 3 columns]

### Find the aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe.

In [18]:
ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Analyze the result. How do the results for the entire dataframe differ from those of the subset?

#### The average number of orders by department increases slightly (at least by 1) when aggregating the entire dataset.

### The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [19]:
ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773487  1.0  25.0
New customer      7.801077  1.0  25.0
Regular customer  7.798145  1.0  25.0

#### Average product prices are similar for all loyalty categories.

### The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria: 
#### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.” 
#### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [20]:
# Create new “avg_price_by_user” column

ords_prods_merged['avg_price_by_user'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\salom\AppData\Local\Temp\ipykernel_2784\1083522657.py:3: FutureWarning: The provided callable <function mean at 0x00000205E754B560> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merged['avg_price_by_user'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [21]:
# Check only relevant columns

ords_prods_merged[['user_id', 'avg_price_by_user']].describe()

            user_id  avg_price_by_user
count  3.240486e+07       3.240486e+07
mean   1.029372e+05       7.790885e+00
std    5.946610e+04       7.347146e-01
min    1.000000e+00       1.000000e+00
25%    5.142200e+04       7.378478e+00
50%    1.026160e+05       7.811883e+00
75%    1.543890e+05       8.229228e+00
max    2.062090e+05       2.320000e+01

In [22]:
# Create spending flag with loc()

ords_prods_merged.loc[ords_prods_merged['avg_price_by_user'] >= 10, 'spending_flag'] = 'High spender'

In [23]:
ords_prods_merged.loc[ords_prods_merged['avg_price_by_user'] < 10, 'spending_flag'] = 'Low spender'

In [24]:
# Print the frequency of new “spending_flag” column

ords_prods_merged.value_counts('spending_flag')

spending_flag
Low spender     32285150
High spender      119709
Name: count, dtype: int64

In [25]:
# Check only relevant columns

ords_prods_merged[['user_id', 'avg_price_by_user', 'spending_flag']].head(1000)

     user_id  avg_price_by_user spending_flag
0          1           6.367797   Low spender
1          1           6.367797   Low spender
2          1           6.367797   Low spender
3          1           6.367797   Low spender
4          1           6.367797   Low spender
..       ...                ...           ...
995       12           8.116216   Low spender
996       12           8.116216   Low spender
997       12           8.116216   Low spender
998       12           8.116216   Low spender
999       12           8.116216   Low spender

[1000 rows x 3 columns]

### In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
#### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
#### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
#### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [26]:
# Create new “avg_days_prior_order” column

ords_prods_merged['avg_days_prior_order'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.mean)

C:\Users\salom\AppData\Local\Temp\ipykernel_2784\3475849796.py:3: FutureWarning: The provided callable <function mean at 0x00000205E754B560> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merged['avg_days_prior_order'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.mean)

In [27]:
# Check only relevant columns

ords_prods_merged[['user_id', 'avg_days_prior_order']].describe()

            user_id  avg_days_prior_order
count  3.240486e+07          3.240485e+07
mean   1.029372e+05          1.137498e+01
std    5.946610e+04          6.056176e+00
min    1.000000e+00          0.000000e+00
25%    5.142200e+04          6.852941e+00
50%    1.026160e+05          9.884956e+00
75%    1.543890e+05          1.486500e+01
max    2.062090e+05          3.000000e+01

In [28]:
# Create frequency flag with loc()

ords_prods_merged.loc[ords_prods_merged['avg_days_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [29]:
ords_prods_merged.loc[(ords_prods_merged['avg_days_prior_order'] <= 20) & (ords_prods_merged['avg_days_prior_order'] > 10), 'frequency_flag'] = 'Regular customer'

In [30]:
ords_prods_merged.loc[ords_prods_merged['avg_days_prior_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [31]:
# Print the frequency of the “frequency_flag” column

ords_prods_merged.value_counts('frequency_flag')

frequency_flag
Frequent customer        16468582
Regular customer         12521159
Non-frequent customer     3415113
Name: count, dtype: int64

In [32]:
# Check only relevant columns

ords_prods_merged[['user_id', 'avg_days_prior_order', 'frequency_flag']].head(1000)

     user_id  avg_days_prior_order         frequency_flag
0          1             20.259259  Non-frequent customer
1          1             20.259259  Non-frequent customer
2          1             20.259259  Non-frequent customer
3          1             20.259259  Non-frequent customer
4          1             20.259259  Non-frequent customer
..       ...                   ...                    ...
995       12             26.169014  Non-frequent customer
996       12             26.169014  Non-frequent customer
997       12             26.169014  Non-frequent customer
998       12             26.169014  Non-frequent customer
999       12             26.169014  Non-frequent customer

[1000 rows x 3 columns]

In [33]:
ords_prods_merged.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price_by_user,spending_flag,avg_days_prior_order,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer

In [34]:
# Export data to pkl

ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_aggregated.pkl'))